body,form,div,ul,ol,li,p,span,dl,dt,dd{padding:0; margin:0; list-style:none;}
body{background:#eef2fb ; font:12px/18px arial,"宋体"; color:#000;}
img{border:none;}
a{color:#36d; text-decoration:none;}
a:hover{color:#f60;}

.btn{padding:0 5px; height:25px;}
.bigBtn{padding:0 18px; height:28px;}
.err{color:#f30; background:url(v2/err.png) no-repeat 2px 0; padding:0 0 0 20px;} 
.pageIndex{text-align:center;}
.tips{color:#a88; display:block; margin:0 3px;}

#wrapper{margin:0;}
#header{color:#fff; height:22px; position:relative; padding:5px; background:#369;}

.searchPanel{padding:5px 10px; border:1px solid #ccc; margin:4px;}
.tableWrapper{margin:4px; background:#eee; border:1px solid #ccc; padding:1px;}
.grid,.gridview{width:100%;background:#fff; border-spacing:1px;}
/* IE6 问题*/
.grid,.gridview{ _width:99.6%;}

.grid td,.gridview td{padding:2px;}
.grid thead td,.gridview thead td{font:bold 12px/20px arial,'宋体'; background:#dde7ee;}
.grid tfoot td,.gridview tfoot td{background:#dde7ee; padding:3px 0 2px 0;}
.grid .label,.gridview .label{width:100px; padding:2px; text-align:right; background:#eee;}

/*分页索引样式*/
.pageIndex {float:right; color:#666; font:bold 12px georgia; text-align:center; padding:2px 10px 2px 2px;}
.pageIndex span{margin:0 1px;}
.pageIndex a{border: #bbb 1px solid; padding:1px 5px; margin: 0 1px; text-decoration: none; color:#99f; }
.pageIndex a:hover {border-color: #c60; background: #ebecd2;}
.pageIndex span.c{border: #f96 1px solid; padding:2px 5px; background:#fda; font-weight: bold; color:#f60;}
.pageIndex span.d{ border:1px solid #ddd; padding: 2px 5px; color: #aaa;}

/*主导航菜单样式*/
.menu {margin:0 0 0 4px; width:180px;}
.menu li{width:174px;}
.menu a{color:#9E6209;display:block;margin:1px;padding:0; height:24px; font-size:12px;}
.menu a:hover{font-size:12px; height:24px;}
.menu .hlight{font-weight:bold;}

.menu ul a{padding-left:25px; background: #ECDDC7 12px 50% url(v2/cate.gif) no-repeat;}
.menu ul ul a{padding-left:40px; background: #f0f8fe 27px 50% url(v2/cate.gif) no-repeat;}
.menu ul ul ul a{padding-left:55px; background: #f0f8fe 42px 50% url(v2/cate.gif) no-repeat;}
.menu ul ul ul ul a{padding-left:70px; background: #f9f9f9 67px 50% url(v2/cate.gif) no-repeat;}
.menu ul a:hover{background:#dfd;}

.menu .main { background:url(v2/nav_l.gif) no-repeat left top; padding:0 0 0 4px; text-decoration:none;}
.menu .main span { font:bold 12px arial,"宋体"; display:block; background:url(v2/nav_r.gif) no-repeat right top; padding:6px 12px 4px 6px; color:#fff;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.menu .main span {float:none;}
/* End IE5-Mac hack */
.menu .main:hover span { color:#fff; }
.menu .main:hover { background-position:0% -42px;}
.menu .main:hover span { background-position:100% -42px;}

.ipt{
    height: 22px;
    padding: 1px 2px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


