body{padding:10px; margin:0; font:12px/20px arial,'宋体';}
.t1{ color:#fff;}
.t2{ color:#ff0;}
a{text-decoration:none; color:#000;}
a:hover{ color:#ff0000; text-decoration:underline;}
.mouseover{background:#f0f5fb}
#tooltip{
	position: absolute;
	border: 1px solid #c3b6a1;
	/*color: #685024;*/
	color:#FFFFFF;
	background-color: #333333;
	visibility: hidden;
	_height:1%;
	overflow:hidden;
	z-index: 10000;
	padding:5px;	
	/*兼容ie firefox 半透明效果*/
  opacity: 0.95;
  filter : progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=95,finishOpacity=100);	
}
#break{
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
} 
