.lxg-frame{
    display:block;
    position:relative;
    float:left;
    width:860px;
    height:700px;
    min-height:1px;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    font-family: "Segoe UI","Segoe WPC","Segoe UI","微软雅黑";
    border:rgb(212, 212, 212) 1px solid;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
}
.lxg-toolbar{
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    min-width:1px;
    height:55px;
    min-height:1px;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    z-index:5004;
    cursor:default;
    border-bottom:1px rgb(171, 171, 171) solid;
    background-color: #fff;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(248, 248, 248), rgb(248, 248, 248));
}
.lxg-tbmenu-bar{
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:auto;
    min-width:64px;
    height:24px;
    line-height:24px;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    z-index:5006;
    cursor:default;
}
.lxg-tbmenu-title{
    float:left;
    width:auto;
    min-width:1px;
    height:24px;
    line-height:24px;
    text-align:center;
    font-size:12px;
    margin:0;
    padding:0 8px;
    color:#777;
    overflow:hidden;
    text-align:center;
    background-color: rgb(236, 236, 236);
}
.lxg-tbmenu-item{
    float:left;
    width:auto;
    min-width: 1px;
    height:24px;
    line-height:24px;
    text-align:center;
    color:#111;
    font-size:12px;
    margin:0;
    padding:0 8px;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
}
.lxg-tbmenu-item:hover{
    color:rgb(57, 85, 163);
    text-shadow: 0 0 1px rgba(57, 85, 163, 0.1);
    box-shadow:inset 0 0 1px rgba(57, 85, 163, 0.3);
}
.lxg-tbmenu-item.selected{
    background-color:rgb(57, 85, 163);
    color:#eee;
}
.lxg-tbctrl-bar{
    display:block;
    position:absolute;
    left:0;
    top:24px;
    width:100%;
    height:28px;
    line-height:24px;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    z-index:5006;
    cursor:default;
}
.lxg-tbctrl-input{
    float:left;
    width:128px;
    height:16px;
    line-height:16px;
    text-align:left;
    color:#111;
    font-size:12px;
    margin:4px 4px;
    padding:2px 8px;
    border:1px rgb(212, 212, 212) solid;
    background:transparent;
    outline: none;
}
.lxg-tbctrl-input.long{
    width:256px;
    resize:none;
}
.lxg-tbctrl-input:focus{
    background-color:#fff;
}
.lxg-tbctrl-iconbut{
    float:left;
    width:22px;
    height:22px;
    line-height:16px;
    text-align:center;
    color:#111;
    font-size:12px;
    margin:4px 0;
    padding:0px;
    border:none;
    background-color: transparent;
    background-position: center;
    background-repeat:no-repeat;
    outline: none;
    cursor:default;
}
.lxg-tbctrl-iconbut.search{
    width:20px;
    height:20px;
    border-top:1px rgb(198, 198, 198) solid;
    border-bottom:1px rgb(198, 198, 198) solid;
}
.lxg-tbctrl-iconbut.search.end{
    border-right:1px rgb(198, 198, 198) solid;
    border-radius:0 10px 10px 0;
    margin-right:8px;
}
.lxg-tbctrl-iconbut:hover{
    background-color:rgba(57, 85, 163, 0.1);
}
.lxg-tbctrl-iconbut:active{
    background-color:rgba(57, 85, 163, 0.5);
}
.lxg-header{
    display:block;
    position:absolute;
    left:0;
    top:32px;
    width:auto;
    min-width:100%;
    height:24px;
    min-height:1px;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    z-index:5004;
    border-bottom:1px rgb(171, 171, 171) solid;
    cursor:pointer;
    background-color: #fff;
    background-image: linear-gradient(rgb(248, 248, 248), rgb(255, 255, 255));
    /*box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);*/
}
.lxg-tab{
    display:block;
    position:absolute;
    left:0;
    top:25px;
    width:auto;
    min-width:1px;
    height:auto;
    min-height: 25px;
    overflow:hidden;
    margin:0 20px 0 0;
    padding:0;
    outline:none;
    z-index:5002;
}
.lxg-footer{
    display:block;
    position:absolute;
    clear:both;
    float:left;
    width:auto;
    min-width:1px;
    height:24px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    z-index:5004;
    border-top:1px rgb(171, 171, 171) solid;
    background-color: rgb(57, 85, 163);
}
.lxg-scroll-h{
    display:block;
    position:absolute;
    clear:both;
    float:left;
    width:auto;
    height:10px;
    bottom:24px;
    left:0;
    right:0;
    overflow:hidden;
    margin:1px 0;
    padding:0 11px 0 1px;
    outline:none;
    z-index:5004;
    background-color:#fff;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(192, 192, 192));
}
.lxg-scroll-v{
    display:block;
    position:absolute;
    clear:both;
    width:10px;
    height:auto;
    top:32px;
    right:0;
    bottom:35px;
    overflow:hidden;
    margin:0;
    padding:1px 0;
    outline:none;
    z-index:5004;
    background-color:#fff;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(224, 224, 224));
}
.lxg-scroll-bar{
    width:8px;
    height:8px;
    margin:0;
    background-color:#fff;
    padding:0;
    position:absolute;
    left:0;
    top:0;
    z-index:5006;
    cursor:default;
    border:1px rgb(171, 171, 171) solid;
    border-radius:5px;
}
.lxg-footer-tips{
    display:block;
    font-size:12px;
    font-weight: normal;
    text-align:left;
    line-height:24px;
    height:24px;
    width:auto;
    margin:0;
    padding:0;
    float:left;
    overflow:hidden;
    min-width:1px;
    text-indent:8px;
    background-color: rgb(57, 85, 163);
    color: #fff;
}
.lxg-footer-button{
    display:block;
    color:#fff;
    background-color: rgb(57, 85, 163);
    font-size:12px;
    width:auto;
    min-width:24px;
    padding:0 4px;
    margin:4px;
    height:16px;
    line-height:15px;
    text-align:center;
    float:right;
    cursor:pointer;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.lxg-footer-button:active{
    box-shadow: 
        inset  1px  1px 1px rgba(0, 0, 0, 0.2),
        inset -1px -1px 1px rgba(255, 255, 255, 0.2);
}
.lxg-footer-label{
    display:block;
    color:#fff;
    background-color: rgb(57, 85, 163);
    font-size:12px;
    width:auto;
    min-width:1px;
    padding:0;
    margin:4px;
    height:16px;
    line-height:15px;
    text-align:center;
    float:right;
}
.lxg-footer-input{
    display:block;
    color:#fff;
    background-color: rgb(57, 85, 163);
    border:1px solid #fff;
    font-size:12px;
    width:40px;
    min-width:24px;
    padding:0;
    margin:4px;
    height:14px;
    line-height:15px;
    text-align:center;
    float:right;
    outline:none;
}
.lxg-footer-sep{
    display:block;
    width:0;
    padding:0;
    margin:4px;
    height:16px;
    float:right;
    border-left:1px #fff solid;
}
.lxg-footer-tri-l, .lxg-footer-tri-r{
    display:block;
    width:0;
    height:0;
    padding:0;
    margin:6px;
    float:right;
    cursor:pointer;
    border:6px solid;
}
.lxg-footer-tri-l{
    border-color: rgb(57, 85, 163) #fff rgb(57, 85, 163) rgb(57, 85, 163);
}
.lxg-footer-tri-r{
    border-color: rgb(57, 85, 163) rgb(57, 85, 163) rgb(57, 85, 163) #fff;
}
.lxg-line{
    display:block;
    clear:both;
    height:24px;
    width:auto;
    min-width:1px;
    overflow:hidden;
    margin:0;
    padding:0;
    outline:none;
    border-bottom:1px rgb(212, 212, 212) solid;
}
.lxg-tri-u{
    position:absolute;
    right:4px;
    top:2px;
    width:0;
    height:0;
    border:4px solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ccc rgba(0, 0, 0, 0);
}
.lxg-tri-d{
    position:absolute;
    right:4px;
    bottom:2px;
    width:0;
    height:0;
    border:4px solid;
    border-color: #ccc rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.lxg-tri-u.active{
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(57, 85, 163) rgba(0, 0, 0, 0);
}
.lxg-tri-d.active{
    border-color: rgb(57, 85, 163) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.lxg-tri-u:hover{
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(57, 85, 163) rgba(0, 0, 0, 0);
}
.lxg-tri-d:hover{
    border-color: rgb(57, 85, 163) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.lxg-grid{
    display:block;
    clear:none;
    float:left;
    width:96px;
    height:100%;
    line-height:24px;
    text-align:right;
    overflow:hidden;
    margin:0;
    padding:0 2px;
    outline:none;
    font-size:14px;
    border-right:1px rgb(212, 212, 212) solid;
}
.lxg-grid:first-child{
    font-weight:bold;
    color:#777;
    text-align:center;
    border-right:1px rgb(171, 171, 171) solid;
}
.lxg-grid.color-0{
    color: #222;
}
.lxg-grid.color-1{
    color: rgb(34, 177, 76);
}
.lxg-grid.color-2{
    color: rgb(0, 162, 232);
}
.lxg-grid.color-3{
    color: rgb(163, 73, 164);
}
.lxg-grid.color-4{
    color: rgb(255, 127, 39);
}
.lxg-grid.color-5{
    color: rgb(232, 182, 0);
}
.lxg-grid.mod{
    background-color:rgba(255, 217, 191, 0.3);
}
.lxg-grid.hd{
    position:relative;
    text-align:center;
    font-weight:bold;
    color:#777;
    border-right:none;
}
.lxg-grid.hd:hover{
    background-color:rgb(224, 224, 224);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
}
.lxg-hdsep{
    display:block;
    clear:none;
    float:left;
    width:2px;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    background-color: #eee;
    border-right: rgb(171, 171, 171) solid 1px;
    cursor:e-resize;
}
.lxg-hide{
    display:none;
}
.lxg-cover{
    display:block;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:5500;
    background-color:rgba(0, 0, 0, 0);
    opacity:0.1;
    cursor:default;
}
.lxg-select{
    display:block;
    position:absolute;
    z-index:5050;
    background-color:rgba(57, 85, 163, 0.1);
    border:2px rgba(57, 85, 163, 0.9) dotted;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
}
.lxg-selected{
    display:block;
    position:absolute;
    z-index:5050;
    background-color:rgba(57, 85, 163, 0.1);
    border:2px rgba(57, 85, 163, 0.9) solid;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
}
.lxg-selected-line{
    display:block;
    position:absolute;
    z-index:5048;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    height: 250px;
    width: 375px;
    background-color: rgba(57, 85, 163, 0.1);
}
.lxg-select-display{
    display:block;
    position:absolute;
    z-index:5045;
    background-color:#fff;
    width:auto;
    min-width:1px;
    min-height:24px;
    line-height:24px;
    height:auto;
    overflow:hidden;
    text-align:right;
    padding:0 2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.lxg-auto{
    display:block;
    position:absolute;
    z-index:5055;
    background-color:rgb(57, 85, 163);
    border-left:1px #fff solid;
    border-top:1px #fff solid;
    border-right:1px #111 solid;
    border-bottom:1px #111 solid;
    width:4px;
    height:4px;
    cursor:crosshair;
}
.lxg-auto-select{
    display:block;
    position:absolute;
    z-index:5050;
    border:2px rgba(57, 85, 163, 0.9) solid;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
}
.lxg-edit-text{
    display:block;
    position:absolute;
    z-index:5550;
    background-color:#fff;
    border:2px rgba(57, 85, 163, 0.9) solid;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    margin:0;
    padding:0;
    outline:none;
    line-height:24px;
    text-align:left;
    overflow:hidden;
    width:auto;
    height:auto;
}
.lxg-edit-select{
    display:block;
    position:absolute;
    z-index:5550;
    background-color:#fff;
    border:2px rgba(57, 85, 163, 0.9) solid;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    margin:0;
    padding:0;
    outline:none;
    line-height:24px;
    text-align:left;
    overflow:hidden;
    width:auto;
    height:auto;
}
.lxg-menu{
    display:block;
    position:absolute;
    z-index:6000;
    background-color:#fff;
    border:1px rgb(168, 168, 168) solid;
    margin:0;
    padding:0;
    width:auto;
    min-width:1px;
    height:auto;
    min-height:1px;
    overflow:hidden;
    cursor:default;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
}
.lxg-menu-item{
    display:block;
    clear:both;
    margin:0;
    padding:4px 4px 4px 20px;
    width:104px;
    height:16px;
    line-height:16px;
    font-size:12px;
    text-align:left;
    color:#111;
    background-color:#fff;
}
.lxg-menu-item.b{
    font-weight:bold;
}
.lxg-menu-item:hover{
    color:#eee;
    background-color:#777;
}
.lxg-menu-item:hover input{
    color:#eee;
    background-color:#777;
}
.lxg-menu-item input{
    display:inline;
    width:24px;
    height:14px;
    margin:0 4px;
    padding:0;
    border:0;
    border-bottom:1px rgb(212, 212, 212) solid;
    outline:none;
    text-align:center;
}
.lxg-menu-sep{
    display:block;
    clear:both;
    margin:2px auto;
    padding:0;
    width:104px;
    height:0;
    border-bottom:1px #ddd solid;
}
.lxg-fullscreen{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border:none;
    border-radius:0;
}
.lxg-detail-area{
    display:block;
    margin:0;
    padding:0;
    clear:both;
    overflow:auto;
}
.lxg-loading{
    display:block;
    position:absolute;
    z-index:5005;
    width:128px;
    height:24px;
    line-height:24px;
    background-color:rgba(0, 0, 0, 0.6);
    color:#eee;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    border-radius:3px;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.6);
}
.lx-search.slim{
    padding:2px 4px;
    margin-right:0;
    border-right:none;
    border-radius: 10px 0 0 10px;
    background-position: 4px 5px;
    width:120px;
    font-size:12px;
    float:right;
    background: transparent;
}
.lxg-slimtable{
    border-collapse: collapse;
}
.lxg-slimtable tr{

}
.lxg-slimtable * td{
    border: 1px solid #999;
    padding: 0 4px;
    min-width:64px;
    max-width:128px;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:12px;
}
.lxg-upload-button{
    width:72px;
}
.lxg-upload-input{
    position:absolute;
    right:4px;
    top:3px;
    width:82px;
    height:26px;
    opacity:0;
}
.right{
    float:right;
}
.left{
    float:left;
}