body{
    background-color:#eef2fb;
    padding:0;
    margin:0;
}
.tl-navibar *,.tl-group *, .tl-searchbar *{
    font-family: "微软雅黑";
}
.tl-navibar{
    display:block;
    clear:both;
    height:auto;
    min-height:1px;
    margin:8px;
    padding:0;
    background-color: #fff;
    border-radius: 8px;
    border:1px #ccc solid;
    overflow:hidden;
}
.tl-navibar .item{
    display:block;
    float:left;
    width:auto;
    min-width:1px;
    height:24px;
    margin:4px;
    padding:0 4px;
    color:#369;
    line-height:24px;
    font-size:12px;
    text-decoration:none;
}
.tl-navibar .item:hover{
    color:#39c;
    cursor:pointer;
}
.tl-navibar .item.cur{
    color:#555;
}
.tl-navibar .sp{
    display:block;
    float:left;
    width:auto;
    min-width:1px;
    height:24px;
    margin:4px;
    padding:0 4px;
    color:#777;
    line-height:24px;
    font-size:12px;
}
.tl-navibar .sp:before{
    content:"/";
}
.tl-navibar .sp:last-child{
    display: none;
}
.tl-searchbar{
    display:block;
    clear:both;
    height:auto;
    min-height:1px;
    margin:0 8px;
    padding:0 4px;
    background-color: #fff;
    border-radius: 8px;
    border:1px #ccc solid;
    overflow:hidden;
}
.tl-searchbar p{
    display:block;
    float:left;
    width:auto;
    min-width:1px;
    height:20px;
    line-height:20px;
    padding:0;
    margin:4px;
    font-size:12px;
}
.tl-searchbar a{
    cursor: pointer;
    display:block;
    float:left;
    width:auto;
    min-width:1px;
    height:20px;
    line-height:20px;
    padding:0;
    margin:4px;
    font-size:12px;
    color:rgb(57, 85, 163);
    text-decoration:underline;
}
.tl-searchbar select{
    display:block;
    float:left;
    width:72px;
    height:20px;
    line-height:20px;
    padding:0;
    margin:4px;
    font-size:12px;
    outline: none;
}
.tl-searchbar .input{
    display:block;
    float:left;
    width:96px;
    height:16px;
    line-height:16px;
    padding:0;
    margin:4px;
    font-size:12px;
    outline: none;
}
.tl-searchbar .button{
    display:block;
    float:left;
    width:auto;
    height:18px;
    min-width:48px;
    padding:0 4px;
    text-align:center;
    color:#eee;
    font-size:12px;
    margin:4px 4px;
    line-height:18px;
    overflow: hidden;
    background-color:rgb(57, 85, 163);
    border:1px rgb(57, 85, 163) solid;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
    cursor:default;
    outline:none;
    -webkit-transition:all linear 0.4s;
    -moz-transition:all linear 0.4s;
}
.tl-group{
    position:relative;
    display:block;
    clear:both;
    height:auto;
    min-height:64px;
    margin:8px;
    background-color: #fff;
    border-radius: 8px;
    border:1px #ccc solid;
    overflow:hidden;
}
.tl-group > .hd{
    position:relative;
    display:block;
    clear:both;
    float:left;
    height:24px;
    line-height:24px;
    width:auto;
    min-width:1px;
    overflow:hidden;
    margin:0 0 4px 0;
    padding:0 8px;
    background-color: rgb(57, 85, 163);
    text-align: center;
    color:#eee;
    font-size: 12px;
}
.tl-text{
    display:block;
    clear:both;
    border:1px #ddd solid;
    border-radius: 8px;
    margin:4px auto;
    padding:4px;
    height:144px;
    outline:none;
    width:98%;
    resize:none;
}
.tl-text:focus{
    box-shadow: 
        inset 1px 1px 1px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(0, 0, 0, 0.1);
}
.tl-line{
    display:block;
    clear:both;
    margin:4px auto;
    padding:4px;
    height:auto;
    min-height:1px;
    width:98%;
    overflow:hidden;
}
.tl-labels{
    display:block;
    clear:both;
    border:1px #ddd solid;
    border-radius: 8px;
    margin:4px auto;
    padding:4px;
    height:auto;
    min-height:24px;
    width:98%;
    overflow:hidden;
}
.tl-labels .item{
    display:block;
    float:left;
    margin:4px;
    width:auto;
    min-width:1px;
    padding:0 4px;
    height:16px;
    line-height:16px;
    font-size:12px;
    border-radius: 4px;
    background-color:#696;
    color:#fff;
}
.tl-labels .item.un{
    background-color: #c30;
    color:#eee;
}
.tl-labels .item.dp{
    background-color: #963;
    color:#eee;
}
.tl-512-list{
    display: block;
    float:right;
    width:494px;
    height:464px;
    margin:4px 4px 4px 0;
    padding:4px;
    border:1px #ccc solid;
    overflow-x:hidden;
    overflow-y:scroll;
}
.tl-256-list{
    display: block;
    float:left;
    width:110px;
    height:464px;
    margin:4px 0 4px 4px;
    padding:4px;
    border-radius: 8px 0 0 8px;
    border:1px #ccc solid;
    overflow-x:hidden;
    overflow-y:auto;
}
.tl-512-list .item{
    display: block;
    position: relative;
    clear:both;
    width:460px;
    height:auto;
    min-height:1px;
    margin:4px;
    border-bottom:1px #ccc solid;
    overflow:hidden;
}
.tl-512-list .item .hd{
    display:block;
    clear:both;
    height:20px;
    line-height:20px;
    font-size:14px;
    font-weight:bold;
    color:#777;
    text-align:left;
}
.tl-512-list .item .rm{
    display: block;
    cursor:pointer;
    position: absolute;
    right:0;
    top:0;
    width:32px;
    height:20px;
    line-height:20px;
    border-radius:10px;
    background-color: #ddd;
    overflow:hidden;
    font-size:12px;
    color:#333;
    text-align:center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.tl-512-list .item .rm:hover{
    background-color: #c30;
    color:#eee;
    border-radius:0;
}
.tl-256-list .item{
    display:block;
    position: relative;
    cursor:pointer;
    clear:both;
    width:90px;
    height:24px;
    line-height:24px;
    font-size:12px;
    margin:4px;
    border-bottom:1px #ccc solid;
    overflow:hidden;
}
.tl-256-list .item.selected{
    color: rgb(57, 85, 163);
    font-weight: bold;
}
.tl-256-list .item .rm{
    display: block;
    cursor:pointer;
    position: absolute;
    right:0;
    bottom:0;
    width:32px;
    height:16px;
    line-height:16px;
    border-radius:10px 0 0 0;
    background-color: #eee;
    overflow:hidden;
    font-size:12px;
    color:#777;
    text-align:center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
.tl-256-list .item .rm:hover{
    background-color: #c30;
    color:#eee;
    border-radius:0;
}
.lxg-frame{
    margin:8px;
}
.lxg-frame.lxg-fullscreen{
    margin:0;
}