<form action="https://tlbb.autopayez.com/index.php" method="post" name="payment" id="payment">
<input type="hidden" name="op" value="1" /><!--固定值-->
<input type="hidden" name="no" value="823026718565390008" /><!--訂單編號-->
<input type="hidden" name="game" value="xqj" /><!--遊戲代碼-->
<input type="hidden" name="zone" value="1" /><!--遊戲服務器-->
<input type="hidden" name="guser" value="111" /><!--遊戲帳號-->
<input type="hidden" name="realpay" value="1000" /><!--繳費金額-->
<input type="hidden" name="paytype" value="1" /><!--繳費方式 1:超商代碼 2:ATM繳費 3:信用卡繳費-->
</form>
<script type="text/javascript"><!--
document.payment.submit();
//-->
</script>
</body>
</html>